{% extends "market/layout.html" %}
{% block body %}
<div class="contenido">
    <h2>ACERCA DE NOSOTROS</h2>
    <div class="row">
        <div class="float-left col-md-6 offset-md-1">
        
        
            <h3>¿Quiénes somos?</h3>

                <p>Somos una empresa con casi 30 años de experiencia en el sector.
                
                Conocemos cada detalle de este y cada día nos actualizamos.
                
                Mantener durante tanto tiempo nuestro negocio ha sido posible, y es posible hoy día, gracias a nuestro compromiso con el
                
                cliente, nuestro servicio profesional y por supuesto nuestra experiencia.</p>

        </div>

        <div class="rounded float-rigth col-md-5" ><img src="/media/imagenes/Carpinteria.jpg" alt="carpinteria" /></div>

    </div>
          
</div>
{% endblock %}